* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}


/* Navbar */

.logo {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #555;
    font-size: 16px;

}

ul li a:hover {
    color: #2F5BEA;

}

.btn {
    text-decoration: none;
    background-color: #2F5BEA;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 600;
}

.btn:hover {
    background-color: #2348c8;
}



/* Hero(Bannner Section */


.hero-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}



.hero-content {
    text-align: center;
    color: white;
    margin-top: 20px;
    max-width: 750px;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;

}

.hero-content p {
    margin-bottom: 37%;
    line-height: 1.5;
}


/* Meet The Speaker */

.speakers {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}

.speaker-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.speaker-card {
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

.speaker-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.speaker-card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.speaker-card-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.category {
    color: #2563eb;
    font-size: 0.9rem;
    font-weight: 600;
}

.speaker-card h3 {
    font-size: 1.4rem;
}

.speaker-card p {
    color: #6b7280;
}


/* Secure Your Spot */

.pricing {
    padding: 40px 0 80px;
}


.pricing-section-title h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
}

.pricing-section-title p {
    text-align: center;
    color: #6b7280;

}


.pricing-card-container {
    margin-top: 40px;
    padding: 0 60px; 
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */

    display: flex;
    justify-content: space-between;
    gap: 25px;

}

.pricing-card {
    width: 100%;
    padding: 50px 40px;
    margin: 0 auto;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    
}

.plan-name {
    font-size: 13px;
    font-weight: 700;
    color: #808080;
    margin-bottom: 10px;
}

.pricing-card h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #0f172a;
}

.price-info {
    color: #808080;
    font-size: 15px;
    margin-top: 5px;
}

.pricing-card hr {
    border: none;
    border-top: 1px solid #e5e7eb;
    margin: 25px 0;
}

.pricing-card ul {
    padding-left: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.pricing-card ul li {
    color: #475569;
    margin-bottom: 15px;
}

.pricing-card ul li::marker {
    color: #2563eb;
}


.pricing-btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;

    border: 1px solid #2563eb;
    color: #2563eb;

    padding: 12px 0;
    border-radius: 8px;

    font-weight: 600;
    transition: .3s;
}

.pricing-btn:hover {
    background: #2563eb;
    color: white;
}


.featured {
    background: #0f172a;
   
}

.featured .plan-name{
    color: #93C5FD;
}

.featured h2 {
    color: white;
}

.featured .price-info {
    color: #7f8b9d;
}

.featured hr {
    border-top: 1px solid #334155;
}

.featured .pricing-btn {
    background: #2563eb;
    color: white;
    border: none;
}

.featured .pricing-btn:hover {
    background: #1d4ed8;
}

.featured ul li {
    color: rgb(199, 198, 198);
}


/* Footer */


footer {
    background-color: #0f172a;
    padding: 40px 0;
    color: #94a3b8;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    font-size: 14px;
}


.footer-links {
    display: flex;
    gap: 30px;
}



.footer-links a {
    text-decoration: none;
    color: #94a3b8;
    font-size: 14px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: white;
}